{% load static %}
{% block body %}
<title>Changing Password</title>
{% include 'recruiter_navigation.html' %}

<script>
    function checkpass() {
        if (document.changepassword.newpassword.value != document.changepassword.confirmnewpassword.value) {
            alert('New Password and Confirm Password Did not match');
            document.changepassword.confirmnewpassword.focus();
            return false;
        }
        return true;
    }
</script>

<marquee style="font-family: 'Monotype Corsiva'; font-size:30px;color: darkcyan;background-color: black; font-weight: bold; margin-top: 1%;">Change Password for User</marquee>
<hr>
<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <div class="form-group">
        <label><b>Current Password </b></label>
        <input type="password" class="form-control" name="currentpassword" required>

        <label><b>New Password </b></label>
        <input type="password" class="form-control" name="newpassword" required>

        <label><b>Confirm New Password </b></label>
        <input type="password" class="form-control" name="confirmnewpassword" required>
    </div>

    <button type="submit" class="btn btn-primary" style="color: darkcyan; background-color: black;">Submit</button>
</form>

{% if error == "no" %}
<script>
    alert("Recruiter Password Changed Successfully");
    window.location.href = "{% url 'recruiter_home' %}";
</script>
{% elif error == "yes" %}
<script>
    alert("New Password did not match");
</script>
{% elif error == "not" %}
<script>
    alert("Current password did not match");
</script>
{% endif %}

{% endblock %}
